<div class="w3-main w3-content w3-padding"
	style="max-width: 1200px; margin-top: 0px">
	<img src="images/yrdrLogo2.png"/ class="centered-image"></br></br>

	<div class="w3-row-padding w3-padding-16 w3-center">
		<div class="w3-quarter" >
			<div class="box" ng-click="add(jobs[0])">
			</br>					
				<span class="boxFont">{{jobs[0].jobName}}</span>
					</br>
					</br>
						<img src="images/smallyard.png"/>
					</br>					
					</br>
				 		<span class="boxFont" >{{jobs[0].jobPrice | currency}}</span>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updateJob(jobs[0])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>
		
		<div class="w3-quarter" >
			<div class="box" ng-click="add(jobs[1])">
			</br>					
				<span class="boxFont">{{jobs[1].jobName}}</span>
					</br>
					</br>
						<img src="images/mediumYard.png"/>
					</br>					
					</br>
				 		<span class="boxFont" >{{jobs[1].jobPrice | currency}}</span>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updatejob(jobs[1])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>

		<div class="w3-quarter" >
			<div class="box" ng-click="add(jobs[2])">
			</br>					
				<span class="boxFont">{{jobs[2].jobName}}</span>
					</br>
					</br>
						<img src="images/largeYard.png"/>
					</br>					
					</br>
				 		<span class="boxFont" >{{jobs[2].jobPrice | currency}}</span>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updateJob(jobs[2])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>
		<div class="w3-quarter" >
			<div class="box" ng-click="add(job[3])">
			</br>					
				<span class="boxFont">{{jobs[3].jobName}}</span>
					</br>
					</br>
						<img src="images/weedeating.png"/>
					</br>					
					</br>
				 		<span class="boxFont" >{{jobs[3].jobPrice | currency}}</span>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updateJob(jobs[3])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>

	<!-- Second Photo Grid-->
	<div class="w3-row-padding w3-padding-16 w3-center">
		<div class="w3-quarter" >
			<div class="box" ng-click="add(jobs[4])">
			</br>					
				<span class="boxFont">{{jobs[4].jobName}}</span>
					</br>
					</br>
						<img src="images/trimmers.png"/>
					</br>					
					</br>
				 		<span class="boxFont" >{{jobs[4].jobPrice | currency}}</span>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updateJob(jobs[4])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>
		<div class="w3-quarter" >
			<div class="box" ng-click="add(jobs[5])">
			</br>					
				<span class="boxFont">{{jobs[5].jobName}}</span>
					</br>
					</br>
						<img src="images/leaves.png"/>
					</br>					
					</br>
				 		<span class="boxFont" >{{jobs[5].jobPrice | currency}}</span>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updateJob(jobs[5])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>
		<div class="w3-quarter" >
			<div class="box" ng-click="add(jobs[6])">
			</br>					
				<span class="boxFont">{{jobs[6].jobName}}</span>
					</br>
					</br>
						<img src="images/fertilizing.png"/>
					</br>					
					</br>
				 		<span class="boxFont" >{{jobs[6].jobPrice | currency}}</span>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updateJob(jobs[6])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>
		<div class="w3-quarter" >
			<div class="box" ng-click="add(jobs[7])">
			</br>					
				<span class="boxFont">{{jobs[7].jobName}}</span>
					</br>
					</br>
						<img src="images/winterizing.png"/>
					</br>					
					</br>
				 		<span class="boxFont" >{{jobs[7].jobPrice | currency}}</span>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updateJob(jobs[7])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="box">
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
			</div>
			<div>
				<label class="switch" ng-click="updateJob(jobs[7])">
  					<input type="checkbox">
 					 <span class="slider round"></span>
				</label>
			</div>
		</div>		
		<div class="w3-quarter">					
			<div class="box" ng-click="putJob(jobToUpdate)">
			</br>			
			<form>
				</br>
				<label for="jobName" class="boxFont">Service:</label></br>
					<input type="text" id="jobName" ng-model="jobToUpdate.jobName" width="20"/>
					</br>
					</br>			
				<label for="jobPrice" class="boxFont">Price:</label></br>
					<input type="number" min="1" max="200" id="jobPrice" ng-model="jobToUpdate.jobPrice"/>							
			</form>
					</br>
					</br>
					</br>
					</br>
							
			</div>
			</div>			
		</div>	
	</div>
	<div>
	</br>
	 <section class="tableBorder">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Total</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in invoice.items">
          <td><input type="text" ng-model="item.name" class="form-control" /></td>
          <td><input type="text" ng-model="item.description" class="form-control" /></td>
          <td><input type="number" ng-model="item.qty" class="form-control" /></td>
          <td><input type="number" ng-model="item.price" class="form-control" /></td>
          <td>{{item.qty * item.price | currency}} </td>
          <td><button type="button" class="btn btn-danger" ng-click="remove($index)">Delete</button></td>
        </tr>
         
        <tr>
        <td><button type="button" class="btn btn-primary" ng-click="saveTotal()">Save Total</button></td>
          <td></td>
          <td></td>
          <td>Total : </td>
          <td>{{total() | currency}} </td>
        </tr>
      </tbody>
    </table>
  </section>
	
	</div>

</div>